<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
     <link rel="stylesheet" href="/index/static/css/b_comu.css">
    <link rel="stylesheet" href="/index/static/css/general.css">
    <link rel="stylesheet" href="/index/static/css/header.css">
    <link rel="stylesheet" href="/index/static/css/changelabel.css">
    <link rel="stylesheet" href="/index/static/css/icclub.css">
    <link rel="stylesheet" href="/index/static/css/active_user.css">
    <link rel="stylesheet" href="/index/static/css/community.css">
    <link rel="stylesheet" href="/index/static/css/footer.css">

    <script src="/index/static/js/base_con.js"></script>
    <script src="/index/static/js/jquery.min.js"></script>
</head>

<body>

<div id="head"></div>
    <div id="left_box">
        <div id='dynamic_label'>
            <ul><li class="comm_tag">情感</li></ul>
            <ul><li class="comm_tag">小情绪</li></ul>
            <ul><li class="comm_tag">吐槽</li> </ul>
            <ul><li class="comm_tag">小开心</li></ul>
        </div>
    </div>
    <div id="master_box">
        <div id="head_sidebar">
            <span class="title_sidebar">最新内容</span>
            <span class="title_sidebar">热评榜</span>
            <span class="title_sidebar">好评榜</span>
            <span class="title_sidebar">热搜榜</span>
        </div>

        <div id="master_page">
            <ul>
                <li>
                    <div class="every_box">

                        <div class="user_info_box">
                            <div class='articles_info'>
                                <img class="user_img" src="/index/static/images/user_head/11.jpg" alt="">
                                <span class="user_name">小白</span>
                                <span class="content_tag">文章标签</span>
                                <img src="" alt="">
                                <label class="">点赞数</label>
                                <span class="click_num">0</span>
                                <lable>收藏数</lable>
                                <span class="favorite">0</span>
                            </div>
                        </div>
                        
                        <div class="content">
                            <span class="content_title">这是文章的标题一这是文章的标题一这是文章的标题一这是文章的标题一这是文章的标题一</span>
                            <p class="content_info">
                                音乐对于我们大多数人来讲，可以说是不可或缺的。它可以涤荡我们的心胸，升华我们的灵魂，音乐的功效可以说是难以言语的，音乐可以说是我们生命的一部分，对于某些人来讲，生活中缺少了音乐，生命就欠缺了灵性。听着动人的音乐，心潮随着音乐的节拍荡漾起伏，生活中的烦恼全部抛在脑后，从音乐的曲谱中，读出了感人的情，从这难以割舍的情致中，我们细细的品尝我们的生活，我们蓦然发现，原来音乐用华丽且真挚的曲谱歌唱了我们平淡而又真实的生活，音乐来源于生活，而又高于生活，他让生活充满了跳动的色彩，生活影响并丰富着音乐，他让音乐随着历史的长河生生不息
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="master_page">
            <ul>
                <li>
                    <div class="every_box">

                        <div class="user_info_box">
                            <div class="articles_info">
                                <img class="user_img" src="/index/static/images/user_head/11.jpg" alt="">
                                <span class="user_name">小红</span>
                                <span class="content_tag">文章标签</span>
                                <img src="" alt="">
                                <label class="">点赞数</label>
                                <span class="click_num">0</span>
                                <lable>收藏数</lable>
                                <span class="favorite">0</span>
                            </div>
                        </div>

                        <div class="content">
                            <span class="content_title">这是文章的标题二</span>
                            <p class="content_info">
                                音乐对于我们大多数人来讲，可以说是不可或缺的。它可以涤荡我们的心胸，升华我们的灵魂，人来讲，可以说是不可或缺的。它可以涤荡我们的心胸，升人来讲，可以说是不可或缺的。它可以涤荡我们的心胸，升人来讲，可以说是不可或缺的。它可以涤荡我们的心胸，升音乐的功效可以说是难以言语的，音乐可以说是我们生命的一部分，对于某些人来讲，生活中缺少了音乐，生命就欠缺了灵性。听着动人的音乐，心潮随着音乐的节拍荡漾起伏，生活中的烦恼全部抛在脑后，从音乐的曲谱中，读出了感人的情，从这难以割舍的情致中，我们细细的品尝我们的生活，我们蓦然发现，原来音乐用华丽且真挚的曲谱歌唱了我们平淡而又真实的生活，音乐来源于生活，而又高于生活，他让生活充满了跳动的色彩，生活影响并丰富着音乐，他让音乐随着历史的长河生生不息
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="create_content_page">
        <div id="create_content_top">
            <span class="text">记录人生中每个时刻</span>
            <span class="tip">为你的文章选个标签吧</span>
            <select name="content_tag" id="content_tag">
                <option class="option_text" value="">请选择</option>
                <option class="option_text" value="">小喜悦</option>
                <option class="option_text" value="">不开心</option>
                <option class="option_text" value="">吐槽</option>
            </select>
        </div>
        <hr id="lines">
        <div id="text_sidedar">
            <span>请填写要发表的内容：</span>
            <textarea name="content_text" id="content_text" cols="31" rows="12" placeholder="这里可以发表您的动态，快来让更多人了解你吧！"></textarea>
            <input id="content_sub" value="发表" type="submit">
        </div>

    </div>
    <div id="box2_right">
        <!-- box2右窗口上 -->
        <div id="box2_right_up">
            <!-- 右上标题 -->
            <div class="b2_right1">
                <p id="ac_c">活动推荐</p>
                <div id="btn_l">
                    <span id="lab_btn">换一换</span>
                </div>
                <div id="c_label">
                    <ul id="lab">

                    </ul>
                </div>
            </div>
        </div>
        <!-- box2右窗口下 -->
        <div id="box2_right_down">
            <!-- 右下标题 -->
            <div class="b2_right1">
                <p>活跃达人</p>
                <!-- 调试 显示8个 -->
                <!-- <span id="_btn">测试添加8个</span> -->
            </div>
            <!-- 活跃达人列表 -->
            <div id="b2_actv_user">
                <!-- 用ajax请求渲染 -->
            </div>
        </div>
    </div>


<!-- <div id="foot"></div> -->

<script>
        var domain = window.location.host;
        var header_url = 'http://' + domain + '/index/templates/header.html'
        $("#foot").load(header_url);
</script>
<script src="/index/static/js/tool_kit.js"></script>
<script src="/index/static/js/header.js"></script>
<script src="/index/static/js/index.js"></script>
<script src="/index/static/js/active_user.js"></script>
<script src="/index/static/js/z_index.js"></script>
<script src="/index/static/js/tips.js"></script>
<script src="/index/static/js/label.js"></script>


<script>
    getFocus($('#l2>a'));
</script>

</body>
</html>
