<div id="nav">
    <div class="con">

        <div class="log">
            <a href="../templates/index.html" style="color: #fff;"><span class="icon">ICClub</span></a>
        </div>

        <div class="nav_r">
            <div class="top_l">
                <div class="top_act">
                    <a id='login' href="login.html">登录</a>
                    <span><b>|</b></span>
                    <a id='reg' href="regist.html">注册</a>
                </div>
            </div>
            <ul>
                <li id="l1"><a href="index.html">主页</a></li>
                <li id="l2"><a href="Community.html">论坛</a></li>
                <li id="l3"><a href="createact.html">创建活动</a></li>

            </ul>
        </div>
    </div>
</div>


