<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICClub 上传文件</title>
    <script src="/index/static/js/jquery.min.js"></script>
    <script src="/index/static/js/base_con.js"></script>
</head>
<body>

<div style="border: 1px solid white;">
    <h2>上传图片</h2>
    <input type="file" id="file" accept="image/*" onchange="uploadfile();"/>
    <input type="submit" value="上传cdsacda" id="go">
    <div id="result2">
        <img src="" alt="" id="img" width="200px" height="200px">
    </div>
</div>


<a class="file">
　　<form enctype="multipart/form-data">
　　　　<input type="file" id="imgFile" name="files" accept="image/jpg,image/jpeg,image/png,image/PNG" />
　　</form>
</a>
    <script src="/index/static/js/user_info_update.js"></script>

</body>
</html>