<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICClub 用户信息</title>
    <link rel="stylesheet" href="/index/static/css/general.css">
    <link rel="stylesheet" href="/index/static/css/header.css">
    <link rel="stylesheet" href="/index/static/css/footer.css">
    <link rel="shortcut icon " type="images/x-icon" href="/index/static/images/favicon1.png">


    <link rel="stylesheet" href="/index/static/css/b_user.css">


</head>
<body>
<!-- 嵌入导航栏模板 -->
<div id="head"></div>

<div id="box2_user">
    <div id="user">
        <div class="user_0">
            <img src="/index/static/images/bg00.jpg" alt="" id="img">
        </div>
        <div class="user">
            <div class="user_1">

            </div>
            <div class="user_2">

            </div>
            <div class="user_3">

            </div>
        </div>
    </div>

    <div id="user_active">

        <div id="tz_l">

        </div>

        <div id="tz_tz"></div>

        <div id="tz_r">

        </div>
    </div>

</div>
<div id="foot" ></div>
    <script src="/index/static/js/tool_kit.js"></script>
    <script src="/index/static/js/jquery.min.js"></script>
    <script src="/index/static/js/base_con.js"></script>
    <script src="/index/static/js/header.js"></script>
    <script src="/index/static/js/user_index.js"></script>


<script>
    var domain = window.location.host;
    var footer_url = 'http://' + domain + '/index/templates/footer.html'
    $("#foot").load(footer_url);
</script>

<script>
    removeFocus();
</script>

</body>
</html>