<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
</head>
<body>
    <video width="120" height="80" controls controlslist="nodownload">
     <source src="/static/video/demo.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>
    <video width="120" height="80" controls controlslist="nodownload">
     <source src="/static/video/video.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>
    <video width="120" height="80" controls controlslist="nodownload">
     <source src="/static/video/video.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>
    <video width="120" height="80" controls controlslist="nodownload">
     <source src="/static/video/小诗妹 极品女神 高颜值白嫩大奶小姐姐 露奶诱惑.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>
    <video width="120" height="80" controls controlslist="nodownload">
     <source src="/static/video/小诗妹 极品女神 高颜值白嫩大奶小姐姐 露奶诱惑.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>
    <video width="320" height="180" controls controlslist="nodownload">
     <source src="/static/video/kan.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>
    <video width="120" height="80" controls controlslist="nodownload">
     <source src="/static/video/video.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>
</body>
</html>